
// based on code from https://cssfx.dev/ site

.subpage-container {
  background-color: $background;    
}

.indicator {
  width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  @include align-items(center); 
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.indicator div {
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  background-color: $light-blue;
}

.indicator div:nth-of-type(1) {
  @include transform(translateX(-100%)); 
  -webkit-animation: left-swing 0.5s linear alternate infinite;
          animation: left-swing 0.5s linear alternate infinite;
}

.indicator div:nth-of-type(3) {
  @include transform(translateX(-95%));
  -webkit-animation: right-swing 0.5s linear alternate infinite;
          animation: right-swing 0.5s linear alternate infinite;
}

@-webkit-keyframes left-swing {
  50%,
  100% {
    -webkit-transform: translateX(95%);
            transform: translateX(95%);
  }
}

@keyframes left-swing {
  50%,
  100% {
    @include transform-translateX(95%);
  }
}

@-webkit-keyframes right-swing {
  50% {
    @include transform-translateX(-95%);
  }
  100% {
    @include transform-translateX(100%);
  }
}

@keyframes right-swing {
  50% {
    @include transform-translateX(-95%);
  }
  100% {
    @include transform-translateX(100%);
  }
}