.main-container {
    display: grid;
    grid-template-columns: [sidebar] 1fr [main] 3fr;
    grid-gap: 5vw;
    padding: 5vw;
}

.sidebar-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr,1fr);
    background-color: $light-blue;
    color: $white;
    grid-column: 1/2;
    padding: .5rem;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10fr, 1fr));
    grid-gap: 5vw;
    grid-column: 2/3;    
}

.product-card{    
    background-color: $white;
    color: $black;
}

.product-card > a:focus {
    color: $black;
}

.product-card h3, 
.product-card p {
    padding: 0 .5rem;
}

.product-card img {
    max-height: 12vh;
    min-width: 10vw;
    object-fit: cover;
}