.main-container {
    @include display-grid(grid);
    -ms-grid-columns: [sidebar] 5vw 1fr 5vw [main] 5vw 3fr;
    grid-template-columns: [sidebar] 1fr [main] 3fr;
    grid-gap: 5vw;
    padding: 5vw;
}

.sidebar-container {
    @include display-grid(grid);  
    -ms-grid-column: 1;    
    -ms-grid-column-span: 1;    
    grid-column: 1/2; 
    grid-auto-rows: auto;
    @include align-items(start);    
}

.sidebar {
    @include display-grid(grid);
    -ms-grid-columns: 1fr, 1fr;
    grid-template-columns: 1fr, 1fr;
    grid-auto-rows: auto;
    background-color: $light-blue;
    color: $white;
    padding: 1rem;
    min-height: 50vh;
}

.product-container {
    @include display-grid(grid);
    -ms-grid-columns: repeat(auto-fit, minmax(15vw, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(15vw, 1fr));
    grid-gap: 5vw;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;    
}

.product-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; 
    @include justify-content(start);    
    background-color: $white;
    color: $black;
    max-height: 30vh;
}

.product-card:hover {
    cursor: pointer;
}

.product-card > a:focus {
    color: $black;
}

.product-card h3, 
.product-card p {
    padding: 0 .5rem;
}

.product-card img {
    max-height: 12vh;
    min-width: 10vw;
    -o-object-fit: cover;
       object-fit: cover;
}