@media screen and (max-width: 992px) { 
    body {
        height: auto;
    }
    h2 {
        font-size: 1.5rem;
    }
    
    h3 {
        font-size: 1.3rem;
    }
    
    p {
        font-size: 1rem;
        line-height: 1.2rem;
    }

    .header-container {
        border-bottom: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;    
        @include justify-content(center);     
        background-color: $white;
        -webkit-box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
                box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
        width: 100%;
        max-height: 100vh;
        padding: 1rem 0;
        z-index: 3;
    }   
    
    .navbar-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;    
        @include justify-content(center);
        padding-left: 0;
        overflow: hidden;
    }

    .logo {
        max-height: 20vh;
        -o-object-fit: cover;
           object-fit: cover;
        margin: 1rem;
    }
    
    .nav-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        @include justify-content(center);
    }
    
    .navbar-link {
        padding: 1.5rem 0;
        font-size: 1rem;
        font-weight: 600;
    }

    .main-container {
        max-width: 70vw;
        margin: 0 auto;
        height: auto;
    }

    .sidebar-container > div > p {
        text-align: center;
    }
    
    .main-container,
    .sidebar-container,    
    .sidebar-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        @include justify-content(center);
    }
    
    .product-container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: repeat(auto-fit, minmax(30vw, 1fr));
        grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
    }

    // hamburger menu created thanks to https://codepen.io/mutedblues/pen/MmPNPG 

    .navbar-list {
        clear: both;
        max-height: 0;
        -webkit-transition: max-height .2s ease-out;
        -o-transition: max-height .2s ease-out;
        transition: max-height .2s ease-out;
    }

    .navbar-list a {
        display: block;
        padding: 20px 20px;
        border-right: 1px solid $gray;
        border-bottom: 1px solid $gray;
        text-decoration: none;
    }

    .nav-icon {
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 28px 20px;
        position: relative;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
    }
    
    .navicon {
        background: $dark-text;
        display: block;
        height: 2px;
        position: relative;
        -webkit-transition: background .2s ease-out;
        -o-transition: background .2s ease-out;
        transition: background .2s ease-out;
        width: 18px;
    }
    
    .nav-icon .navicon:before,
    .nav-icon .navicon:after {
        background: $dark-text;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        -webkit-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;
        width: 100%;
    }
    
    .nav-icon .navicon:before {
        top: 5px;
    }
    
    .nav-icon .navicon:after {
        top: -5px;
    }
    
    /* menu btn */  
    
    .nav-btn:checked ~ .navbar-list {
        max-height: 240px;
    }
    
    .nav-btn:checked ~ .nav-icon .navicon {
        background: transparent;
    }
    
    .header-container .nav-btn:checked ~ .nav-icon .navicon:before {
        @include transform(rotate(-45deg));
    }
    
    .header-container .nav-btn:checked ~ .nav-icon .navicon:after {
        @include transform(rotate(-45deg));
    }
    
    .nav-btn:checked ~ .nav-icon:not(.steps) .navicon:before,
    .nav-btn:checked ~ .nav-icon:not(.steps) .navicon:after {
        top: 0;
    }

    //product details

    .product-item {
        height: auto; 
        margin: 5vh 0;           
    }

    .product-details {
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        @include justify-content(center);
        @include align-items(center);
        height: auto;  
        text-align: justify;
    }
    
    .product-details > button {          
        max-height: 15vh;
        max-width: 25vw;
        font-size: 2rem;
    }

}