.header-container {
    border-bottom: 1px solid $dark-text;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;    
    -webkit-box-pack: justify;    
        -ms-flex-pack: justify;    
            justify-content: space-between;
    @include align-items(center);   
    max-height: 12vh;
}

.nav-icon {
    display: none;        
}

.navbar-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; 
    @include align-items(center);      
    -webkit-box-pack: justify;   
        -ms-flex-pack: justify;   
            justify-content: space-between;
}

.logo {
    max-height: 10vh;
}

.nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    @include align-items(center);
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.nav-btn {
    display: none;
  }

.navbar-link {
    padding: 0 4rem;
    color: $dark-text;
    font-size: 0.8rem;
    font-weight: 600;
}

.nav-search {
    padding: 1.8rem;
    background-color: $search;
}
