.product-item {
    background-color: $light-blue;
    color: $white;
}

.product-item > img {
    object-fit: cover;
    object-position: center;    
}

.product-details {
    @include display-grid(grid);
    grid-auto-rows: repeat(2, 2fr,1fr);
    padding: .5rem;     
}

.product-details > h3 {
    @include display-grid(grid);
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    padding: .5rem;
} 

.product-details > h4 {
    @include display-grid(grid);
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    padding: .5rem;
} 

.product-details > p {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
}

.product-details > button {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    padding: .5rem;
    background-color: $accent;
    margin: 1rem;
    border: none;
}