.sidebar-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    @include justify-content(start);
    @include align-items(center);
}

.sidebar-header > h2 {
    padding: .5rem;
}

.sidebar-header > i {
    font-size: 1.5rem;
}

.cart-container {
    border: 1px dashed $white;
    color: $white;
    padding: .5rem;
    min-height: 10vh;
}

.cart-item {
    background-color: $dark-blue;
    padding: .5rem;
}